.logo {
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
  }
.rotate {
    font-family: verdana, sans-serif;
    color: #ffffff;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  
.clip {
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
  }

.serviceclip {
  clip-path: polygon(35% 35%, 100% 0%, 100% 100%, 0 100%, 0 35%);
}

  .relative {
    position: relative;
  }
  
  .overflow-hidden {
    overflow: hidden;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .onethired {
    width: 100%;
  }
  
  @media (min-width: 640px) {
    .onethired {
      width: 33.33%;
    }
  }
  

  body::-webkit-scrollbar {
    width: 0.2em;
    background-color: #F5F5F5;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
   
  body::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
  }

  .scroll::-webkit-scrollbar {
    width: 0em;
    background-color: hwb(0 99% 1% / 0);
  }
   
  .scroll::-webkit-scrollbar-thumb {
    background-color: hwb(0 99% 1% / 0);
  }
   
  .scroll::-webkit-scrollbar-thumb:hover {
    background-color: hwb(0 99% 1% / 0);
  }
  

.shadow-effect {
  @apply w-0 h-0 rounded-full;
  box-shadow: 0 0 5px #161245;
  animation: glow 4s ease-in-out infinite alternate;
}

.two{
  box-shadow: 0 0 5px #054538;
  animation-name: glow-two;
}

@keyframes glow {
  from {
    box-shadow: 0 0 100px 100px #1e034991;
  }
  to {
    box-shadow: 0 0 150px 150px #044d3f9c;
  }
}

@keyframes glow-two {
  from {
    box-shadow: 0 0 100px 100px #3b33069a;
  }
  to {
    box-shadow: 0 0 150px 150px #1f024d96;
  }
}


.myslide {
  @apply w-[270px] m-4 border-8 border-gray-50 duration-500 ease-in-out rounded-lg;
}